<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--head-->
<head th:fragment="head">
    <meta charset="UTF-8">
    <title>Furama</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <style>
        .navbar {
            background-color: #57c757;
            margin-top: 1rem;
            margin-bottom: 1rem;
            padding: 1pt;
        }

        .navbar-button {
            border: none;
            padding: 4pt 5pt;
            background-color: transparent;
            font-size: 20px;
            font-weight: 600;
        }

        .navbar-button:not(:last-child) {
            margin-right: 2rem;
        }

        .modal-dialog {
            width: 500px;
            height: 300px;
        }

    </style>
</head>
<body>
<!--header-->
<div th:fragment="header" class="row header" style="padding: 1pt">
    <div class="col-md-2 col-xs-12">
        <img id="img-logo" src="image/logo.png">
    </div>
    <div class="col-md-3">
        <img id="img-tripadvisor" src="image/tripadvisor.png">
    </div>
    <div class="address col-md-3">
        <img style="width: 3%; height: 3%" class="img-address" src="image/address.png">
        <p>103 - 105 Vo Nguyen Giap Street,</p>
        <p>Khue My Ward, Ngu Hanh Son District,</p>
        <p>Danang City, Vietnam</p>
        <p id="position-address">7.0 km from Da Nang International Airport</p>
    </div>
    <div class="information col-md-3">
        <div class="phone">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                 class="bi bi-telephone-fill" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                      d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
            </svg>
            <p>84-236-3847 333/888</p>
        </div>
        <div class="email">
            <img style="width: 4%; height: 7%" class="img-email" src="image/email.png">
            <p>reservation@furamavietnam.com</p>
        </div>
    </div>
    <div class="col-md-1">
        <div></div>
        <br>
        <div></div>
        <br>
        <div>
            <span style="font-family: Brush Script MT ; padding: 0pt 10pt;">Van Tien Sy</span>
        </div>

    </div>
</div>

<!--navbar-->
<div th:fragment="navbar" class="navbar navbar-expand-lg bg-body-tertiary justify-content-center">
    <button class="navbar-button btn-info">
        <a style="font-size: x-large;color: white" class="nav-link" th:href="@{/}">Home</a>
    </button>
    <button class="navbar-button btn-info">
        <a style="font-size: large" class="nav-link" th:href="@{/employee}">Employee</a>
    </button>
    <button class="navbar-button btn-info">
        <a style="font-size: large" class="nav-link" th:href="@{/customer}">Customer</a>
    </button>
    <button class="navbar-button btn-info">
        <a style="font-size: large" class="nav-link" th:href="@{/facility}">Facility</a>
    </button>
    <button class="navbar-button btn-info">
        <a style="font-size: large" class="nav-link" th:href="@{/contract}">Contract</a>
    </button>
</div>

<!--content-->
<div>
    <div>
        <form action="facility.html" method="get">
            <div class="row">
                <div class="col-md-3">
                    <button type="button"
                            class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addFacilityModal">
                        Add new Facility
                    </button>
                </div>
                <div class="col-md-4"></div>
                <div class="col-md-2">
                    <input class="form-control me-2" type="text"
                           placeholder=" Enter Name" aria-label="Search"
                           name="name">
                </div>
                <div class="col-md-2">
                    <select class="form-control" name="facilityType">
                        <option value="">-----Select Facility Type-----</option>
                    </select>
                </div>
                <div class="col-md-1">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </div>
            </div>
        </form>
    </div>
    <div class="bgimg row">
        <div>
            <br>
            <br>
            <div class="card" style="width: 25rem;display: inline-block;margin-left: 100px">
                <img data-bs-target="#editmodal" data-bs-toggle="modal"
                     src="https://motortrip.vn/wp-content/uploads/2022/03/khach-san-17.jpg"
                     class="card-img-top imgcard imgbutton" alt="...">
                <div class="card-body">
                    <p class="card-text" style="font-weight: bold;font-size: 20px">Armani Hotel</p>
                    <p class="card-text" style="font-weight: lighter;margin-top: -15px;width: 100%">Room size: 85.2
                        m<sup>2</sup> <a href=""
                                         style="position: absolute;right: 15px;text-decoration: none;color: darkgreen"><i
                                class="fa-sharp fa-solid fa-paper-plane"></i> Know more</a></p>
                </div>
            </div>
            <div class="card" style="width: 25rem;display: inline-block;margin-left: 100px">
                <img data-bs-target="#editmodal" data-bs-toggle="modal"
                     src="https://vcdn1-dulich.vnecdn.net/2022/07/29/hypat-1659069584-1659081355.jpg?w=1200&h=0&q=100&dpr=1&fit=crop&s=ateHKAAnu32uybgAOx-emA"
                     class="card-img-top imgcard imgbutton" alt="...">
                <div class="card-body">
                    <p class="card-text" style="font-weight: bold;font-size: 20px">Boscolo Exedra</p>
                    <p class="card-text" style="font-weight: lighter;margin-top: -15px;width: 100%">Room size: 85.2
                        m<sup>2</sup> <a href=""
                                         style="position: absolute;right: 15px;text-decoration: none;color: darkgreen"><i
                                class="fa-sharp fa-solid fa-paper-plane"></i> Know more</a></p>
                </div>
            </div>
            <div class="card" style="width: 25rem;display: inline-block;margin-left: 100px">
                <img data-bs-target="#editmodal" data-bs-toggle="modal"
                     src="https://pix10.agoda.net/hotelImages/2817185/-1/4406a970306a452300f94532410dab2c.jpg?ca=10&ce=1&s=1024x768"
                     class="card-img-top imgcard imgbutton" alt="...">
                <div class="card-body">
                    <p class="card-text" style="font-weight: bold;font-size: 20px">OrchidHeaven</p>
                    <p class="card-text" style="font-weight: lighter;margin-top: -15px;width: 100%">Room size: 85.2
                        m<sup>2</sup> <a href=""
                                         style="position: absolute;right: 15px;text-decoration: none;color: darkgreen"><i
                                class="fa-sharp fa-solid fa-paper-plane"></i> Know more</a></p>
                </div>
            </div>
            <div class="card" style="width: 25rem;display: inline-block;margin-left: 100px">
                <img data-bs-target="#editmodal" data-bs-toggle="modal"
                     src="https://hoanghaihotel.vn/Data/images/tintuc/10032021170917-gioi-thieu-ve-khach-san-hoang-hai.jpg"
                     class="card-img-top imgcard imgbutton" alt="...">
                <div class="card-body">
                    <p class="card-text" style="font-weight: bold;font-size: 20px">Hotel Areias do Seixo</p>
                    <p class="card-text" style="font-weight: lighter;margin-top: -15px;width: 100%">Room size: 85.2
                        m<sup>2</sup> <a href=""
                                         style="position: absolute;right: 15px;text-decoration: none;color: darkgreen"><i
                                class="fa-sharp fa-solid fa-paper-plane"></i> Know more</a></p>
                </div>
            </div>
            <br> <br>
            <div class="card" style="width: 25rem;display: inline-block;margin-left: 100px">
                <img data-bs-target="#editmodal" data-bs-toggle="modal"
                     src="https://hanoihotel.com.vn/wp-content/uploads/sites/97/2020/04/hanoi-hotel17942.jpg"
                     class="card-img-top imgcard imgbutton" alt="...">
                <div class="card-body">
                    <p class="card-text" style="font-weight: bold;font-size: 20px">Motel Magic</p>
                    <p class="card-text" style="font-weight: lighter;margin-top: -15px;width: 100%">Room size: 85.2
                        m<sup>2</sup> <a href=""
                                         style="position: absolute;right: 15px;text-decoration: none;color: darkgreen"><i
                                class="fa-sharp fa-solid fa-paper-plane"></i> Know more</a></p>
                </div>
            </div>
            <div class="card" style="width: 25rem;display: inline-block;margin-left: 100px">
                <img data-bs-target="#editmodal" data-bs-toggle="modal"
                     src="https://i.ex-cdn.com/nhadautu.vn/files/content/2020/05/08/kinh-doanh-khach-san-1-2149.jpg"
                     class="card-img-top imgcard imgbutton" alt="...">
                <div class="card-body">
                    <p class="card-text" style="font-weight: bold;font-size: 20px">Hotel Villa Honegg</p>
                    <p class="card-text" style="font-weight: lighter;margin-top: -15px;width: 100%">Room size: 85.2
                        m<sup>2</sup> <a href=""
                                         style="position: absolute;right: 15px;text-decoration: none;color: darkgreen"><i
                                class="fa-sharp fa-solid fa-paper-plane"></i> Know more</a></p>
                </div>
            </div>
            <div class="card" style="width: 25rem;display: inline-block;margin-left: 100px">
                <img data-bs-target="#editmodal" data-bs-toggle="modal"
                     src="https://vcdn1-dulich.vnecdn.net/2021/05/14/stunning-sunset-at-the-1620959674-1620963331.jpg?w=1200&h=0&q=100&dpr=1&fit=crop&s=RAP72v1BULO6wM4YrQx1sg"
                     class="card-img-top imgcard imgbutton" alt="...">
                <div class="card-body">
                    <p class="card-text" style="font-weight: bold;font-size: 20px">Lover’s Deep Luxury</p>
                    <p class="card-text" style="font-weight: lighter;margin-top: -15px;width: 100%">Room size: 85.2
                        m<sup>2</sup> <a href=""
                                         style="position: absolute;right: 15px;text-decoration: none;color: darkgreen"><i
                                class="fa-sharp fa-solid fa-paper-plane"></i> Know more</a></p>
                </div>
            </div>
            <div class="card" style="width: 25rem;display: inline-block;margin-left: 100px">
                <img data-bs-target="#editmodal" data-bs-toggle="modal"
                     src="https://mixhotel.vn/uploads/images/62abe8ead6a5eb614f4bdc08/khach-san-tinh-yeu-trung-son__6_.webp"
                     class="card-img-top imgcard imgbutton" alt="...">
                <div class="card-body">
                    <p class="card-text" style="font-weight: bold;font-size: 20px">Trinity Energy</p>
                    <p class="card-text" style="font-weight: lighter;margin-top: -15px;width: 100%">Room size: 85.2
                        m<sup>2</sup> <a href=""
                                         style="position: absolute;right: 15px;text-decoration: none;color: darkgreen"><i
                                class="fa-sharp fa-solid fa-paper-plane"></i> Know more</a></p>

                </div>
            </div>
            <br> <br>
        </div>
        <br><br>
        <center>
            <a class="btn btn-light" id="preButton">Previous</a>
            <span class="btn">1</span>
            <a class="btn btn-light" id="nexButton">Next</a>

        </center>
        <br> <br><br>
    </div>
    <!--Modal Add-->
    <div class="modal fade" id="addFacilityModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header justify-content-center m-2 p-0">
                    <h3 class="text-center text-success">Add New Facility</h3>
                </div>
                <form class="form-horizontal" action="/facility/create" method="post" th:object="${facility}">
                    <div class="modal-body px-2 py-0">
                        <div class="m-2 row">
                            <label class="col-sm-4 form-label">Facility Type</label>
                            <div class="col-sm-8 justify-content-center">
                                <div>
                                    <input hidden type="text" th:field="*{facilityType.id}" id="facilityTypeId">
                                    <button type="button" class="btn btn-primary w-40 mx-1" onclick="addVilla()">Villa
                                    </button>
                                    <button type="button" class="btn btn-success w-40 mx-1" onclick="addHouse()">House
                                    </button>
                                    <button type="button" class="btn btn-info w-40 mx-1" onclick="addRoom()">Room</button>
                                </div>
                            </div>
                        </div>
                        <div class="m-2 row">
                            <label class="col-sm-4 col-form-label">Facility Name</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="name" th:field="*{name}">
                            </div>
                        </div>

                        <div class="m-2 row">
                            <label class="col-sm-4 col-form-label">Area</label>
                            <div class="col-sm-8">
                                <input type="number" class="form-control" id="area" th:field="*{area}">
                            </div>
                        </div>

                        <div class="m-2 row">
                            <label class="col-sm-4 col-form-label">Cost</label>
                            <div class="col-sm-8">
                                <input type="number" class="form-control" id="cost" th:field="*{cost}">
                            </div>
                        </div>

                        <div class="m-2 row">
                            <label class="col-sm-4 col-form-label">Max People</label>
                            <div class="col-sm-8">
                                <input type="number" class="form-control" id="maxPeople" th:field="*{maxPeople}">
                            </div>
                        </div>

                        <div class="m-2 row">
                            <label class="col-sm-4 col-form-label">Rent Type Name</label>
                            <div class="col-sm-8">
                                <select type="number" class="form-control" th:field="*{rentType.id}">
                                    <option th:each="rentType : ${rentTypes}" th:value="${rentType.id}"
                                            th:text="${rentType.name}"></option>
                                </select>
                            </div>
                        </div>

                        <div id="standardRoom">
                            <div class="m-2 row">
                                <label class="col-sm-4 col-form-label">Standard Room</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" th:field="*{standardRoom}">
                                </div>
                            </div>
                        </div>

                        <div id="descriptionOtherConvenience">
                            <div class="m-2 row align-items-center">
                                <label class="col-sm-4 col-form-label">Description Other Convenience</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" th:field="*{descriptionOtherConvenience}">
                                </div>
                            </div>
                        </div>

                        <div id="poolArea">
                            <div class="m-2 row">
                                <label class="col-sm-4 col-form-label">Pool area</label>
                                <div class="col-sm-8">
                                    <input type="number" value="0" class="form-control" th:field="*{poolArea}">
                                </div>
                            </div>
                        </div>

                        <div id="numberOfFloors">
                            <div class="m-2 row align-items-center">
                                <label class="col-sm-4 col-form-label">Number Of Floors</label>
                                <div class="col-sm-8">
                                    <input type="number" class="form-control" th:field="*{numberOfFloors}">
                                </div>
                            </div>
                        </div>
                        <div id="facilityFree">
                            <div class="m-2 row">
                                <label class="col-sm-4 col-form-label">Facility free</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" th:field="*{facilityFree}">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--MODAL DELETE-->
    <div class="modal fade" id="exampleModalDelete" tabindex="-1" aria-labelledby="exampleModalLabelDelete"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabelDelete">Delete Facility</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form th:action="@{/facility/delete}" method="post">
                    <div class="modal-body">
                        <input hidden type="text" id="deleteId" name="id">
                        <span>Do you want to delete facility :  </span>
                        <span style="color:red;" id="deleteName"></span>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--Modal Edit-->
    <div class="modal fade" id="editFacilityModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form class="form-horizontal" action="/facility/edit" th:object="${facility}" method="post">
                    <div class="modal-header justify-content-center m-2 p-0">
                        <h3 class="text-center text-primary">Edit Facility</h3>
                    </div>

                    <div class="modal-body">

                        <input hidden class="form-control" th:field="*{id}" id="idEdit">

                        <div class="m-2 row">
                            <label class="col-sm-4 col-form-label">Facility Name</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="nameEdit" th:field="*{name}">
                            </div>
                        </div>

                        <div class="m-2 row">
                            <label class="col-sm-4 col-form-label">Area</label>
                            <div class="col-sm-8">
                                <input type="number" class="form-control" id="areaEdit" th:field="*{area}">
                            </div>
                        </div>

                        <div class="m-2 row">
                            <label class="col-sm-4 col-form-label">Cost</label>
                            <div class="col-sm-8">
                                <input type="number" class="form-control" id="costEdit" th:field="*{cost}">
                            </div>
                        </div>

                        <div class="m-2 row">
                            <label class="col-sm-4 col-form-label">Max People</label>
                            <div class="col-sm-8">
                                <input type="number" class="form-control" id="maxPeopleEdit" th:field="*{maxPeople}">
                            </div>
                        </div>

                        <div class="m-2 row">
                            <label class="col-sm-4 col-form-label">Rent Type Name</label>
                            <div class="col-sm-8">
                                <select type="number" class="form-control" id="rentTypeEdit" th:field="*{rentType.id}">
                                    <option th:each="rentType : ${rentTypes}" th:value="${rentType.id}"
                                            th:text="${rentType.name}"></option>
                                </select>
                            </div>
                        </div>

                        <div class="m-2 row">
                            <label class="col-sm-4 col-form-label">Facility Type</label>
                            <div class="col-sm-8">
                                <select type="number" class="form-control" id="facilityTypeIdEdit"
                                        th:field="*{facilityType.id}">
                                    <option th:each="facilityType : ${facilityTypes}" th:value="${facilityType.id}"
                                            th:text="${facilityType.name}"></option>
                                </select>

                            </div>
                        </div>

                        <div id="formStandardRoomEdit">
                            <div class="m-2 row">
                                <label class="col-sm-4 col-form-label">Standard Room</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="standardRoomEdit"
                                           th:field="*{standardRoom}">
                                </div>
                            </div>
                        </div>

                        <div id="formDescriptionEdit">
                            <div class="m-2 row align-items-center">
                                <label class="col-sm-4 col-form-label">Description Other Convenience</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="descriptionOtherConvenienceEdit"
                                           th:field="*{descriptionOtherConvenience}">
                                </div>
                            </div>
                        </div>

                        <div id="formPoolAreaEdit">
                            <div class="m-2 row">
                                <label class="col-sm-4 col-form-label">Pool area</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="poolAreaEdit" th:field="*{poolArea}">
                                </div>
                            </div>
                        </div>

                        <div id="formNumberOfFloorsEdit">
                            <div class="m-2 row align-items-center">
                                <label class="col-sm-4 col-form-label">Number Of Floors</label>
                                <div class="col-sm-8">
                                    <input type="number" class="form-control" id="numberOfFloorsEdit"
                                           th:field="*{numberOfFloors}">
                                </div>
                            </div>
                        </div>

                        <div id="formFacilityFreeEdit">
                            <div class="m-2 row">
                                <label class="col-sm-4 col-form-label">Facility free</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="facilityFreeEdit"
                                           th:field="*{facilityFree}">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--footer-->
<th:block th:fragment="footer">
    <div class="row footer" style="background-color: #608860">
        <div class="col-md-7">
            <h5>Contact US </h5>
            <img style="width: 4%; height: 7%" src="image/address.png" class="img-address">
            <p>103 - 105 Vo Nguyen Giap Street, Khue My Ward, Ngu Hanh Son District, Danang City, Vietnam</p>
            <p>Tel.: 84-236-3847 333/888 * Fax: 84-236-3847 666</p>
            <p>Email: reservation@furamavietnam.com * www.furamavietnam.com</p>
            <p>GDS Codes: Amadeus-GD DADFUR, Galileo/Apollo-GD 16236, Sabre-GD 032771, Worldspan- GD DADFU</p>
        </div>
        <div class="col-md-5 d-flex justify-content-center align-items-center">
            <div class="img-footer d-flex">
                <img style="height: 100%; width: 100%" src="image/img-footer.png">
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
</th:block>
</body>
<script>

    function addVilla() {
        document.getElementById("facilityTypeId").value = 1;
        document.getElementById("standardRoom").style.display = 'block';
        document.getElementById("descriptionOtherConvenience").style.display = 'block';
        document.getElementById("poolArea").style.display = 'block';
        document.getElementById("numberOfFloors").style.display = 'block';
        document.getElementById("facilityFree").style.display = 'none';
    }

    function addHouse() {
        document.getElementById("facilityTypeId").value = 2;
        document.getElementById("standardRoom").style.display = 'block';
        document.getElementById("descriptionOtherConvenience").style.display = 'block';
        document.getElementById("poolArea").style.display = 'none';
        document.getElementById("numberOfFloors").style.display = 'block';
        document.getElementById("facilityFree").style.display = 'none';
    }

    function addRoom() {
        document.getElementById("facilityTypeId").value = 3;
        document.getElementById("standardRoom").style.display = 'none';
        document.getElementById("descriptionOtherConvenience").style.display = 'none';
        document.getElementById("poolArea").style.display = 'none';
        document.getElementById("numberOfFloors").style.display = 'none';
        document.getElementById("facilityFree").style.display = 'block';
    }

    function editFacility(id, name, area, cost, maxPeople, rentTypeId, facilityTypeId, standardRoom,
                          descriptionOtherConvenience, poolArea, numberOfFloors, facilityFree) {
        document.getElementById("idEdit").value = id;
        document.getElementById("nameEdit").value = name;
        document.getElementById("areaEdit").value = area;
        document.getElementById("costEdit").value = cost;
        document.getElementById("maxPeopleEdit").value = maxPeople;
        document.getElementById("rentTypeEdit").value = rentTypeId;
        document.getElementById("facilityTypeIdEdit").value = facilityTypeId;
        document.getElementById("standardRoomEdit").value = standardRoom;
        document.getElementById("descriptionOtherConvenienceEdit").value = descriptionOtherConvenience;
        document.getElementById("poolAreaEdit").value = poolArea;
        document.getElementById("numberOfFloorsEdit").value = numberOfFloors;
        document.getElementById("facilityFreeEdit").value = facilityFree;
        if (facilityTypeId == 1) {
            document.getElementById("formStandardRoomEdit").style.display = 'block';
            document.getElementById("formDescriptionEdit").style.display = 'block';
            document.getElementById("formPoolAreaEdit").style.display = 'block';
            document.getElementById("formNumberOfFloorsEdit").style.display = 'block';
            document.getElementById("formFacilityFreeEdit").style.display = 'none';
        } else if (facilityTypeId == 2) {
            document.getElementById("formStandardRoomEdit").style.display = 'block';
            document.getElementById("formDescriptionEdit").style.display = 'block';
            document.getElementById("formPoolAreaEdit").style.display = 'none';
            document.getElementById("formNumberOfFloorsEdit").style.display = 'block';
            document.getElementById("formFacilityFreeEdit").style.display = 'none';
        } else if (facilityTypeId == 3) {
            document.getElementById("formStandardRoomEdit").style.display = 'none';
            document.getElementById("formDescriptionEdit").style.display = 'none';
            document.getElementById("formPoolAreaEdit").style.display = 'none';
            document.getElementById("formNumberOfFloorsEdit").style.display = 'none';
            document.getElementById("formFacilityFreeEdit").style.display = 'block';
        }
    }

    function deleteFacility(id, name) {
        document.getElementById("deleteId").value = id;
        document.getElementById("deleteName").innerText = name;
    }

</script>

</html>
